#welcome {
  background-color: black;
  text-align: center;
  width: 60%;
  padding: 10px;
  margin-top: 20%;
}
.btn {
  background-color: black;
}
.btn:hover {
  background-color: rgb(248, 248, 175);
  color: black;
}
.adjust {
  text-align: right;
}
.btndark {
  color: black;
}
.btndark:hover {
  background: white;
}
.btnhidden {
  color: black;
}
.hiddenQuote {
  text-align: center;
  font-size: 30px;
  font-family: "Monoton", cursive;
}
.btnEnter {
  color: white;
}
body {
  background-color: black;
}
nav {
  background-color: rgb(0, 0, 0);
}
span {
  color: black;
  font-family: "Arimo", sans-serif;
}
h1 {
  font-size: 40px;
  color: black;

  font-size: 75px;
  font-family: "Monoton", cursive;
}
h2 {
  font-size: large;
  color: black;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
}
h3 {
  font-family: "Monoton", cursive;
}

img {
  display: block;
  margin: auto;
}
